<div>
    <h1>Success</h1>
    <ul>
        <li>{{collection_id}}</li>
        <li>{{collection_status}}</li>
        <li>{{payment_id}}</li>
        <li>{{status}}</li>
        <li>{{external_reference}}</li>
        <li>{{payment_type}}</li>
        <li>{{merchant_order_id}}</li>
        <li>{{preference_id}}</li>
        <li>{{site_id}}</li>
        <li>{{processing_mode}}</li>
        <li>{{merchant_account_id}}</li>
    </ul>
</div>